NODE_ENV=development
PORT=8787
JWT_SECRET=change_this_before_sharing
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

SQL_DATABASE=RonaldCareOps
SQL_LOCALDB_INSTANCE=MentorLink
SQL_LOCALDB_PIPE='np:\\.\pipe\LOCALDB#LOCALDBHASH\tsql\query'
SQL_ODBC_DRIVER=ODBC Driver 17 for SQL Server
SQL_TRUSTED_CONNECTION=true
SQL_ENCRYPT=false
SQL_TRUST_CERT=true
